select[type=text] {
    width: 50%;
    padding: 8px 15px;
    margin: 3px 0;
    box-sizing: border-box;
    position: relative;
}

span {
    font-size: 12px;
    opacity: 0.4;

    transition: all 0.5s ease-in-out;
}

input[type=text] {

    margin: 3px 0;
    box-sizing: border-box;
}

.submit {
    background-color: #3b5998;
    color: #FFF;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    text-transform: uppercase;
}

.submit:hover {
    background: #3b5998;
    box-shadow: 0px 4px 35px -5px #3b5998;
    cursor: pointer;
}

.submit:focus {
    outline: none;
}

h2 {
    display: inline-block;
    font-weight: 100;
}

.formtext input {
    margin-left: 9em;
}

.formtext span {
    position: absolute;
}

.formtext select {
    margin-left: 9em;
}