h2 {
    align-content: center;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}
span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}