body {
    overflow: auto;
}

h2:hover {
    cursor: pointer;
}

.update-form {
    position: absolute;
    height: 570px;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background-size: cover;
}

.active {
    border-bottom: 2px solid #3b5998;
}

.nonactive {
    color: rgba(255, 255, 255, 0.2);
}

h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

h2:first-child {
    padding-left: 0px;
}

span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    border: 3px solid #555;
}

input[type=text] {
    width: 100%;
    padding: 8px 15px;
    margin: 3px 0;
    box-sizing: border-box;
}

.update {
    background-color: #3b5998;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    text-transform: uppercase;
}

.update:hover {
    background: #3b5998;
    box-shadow: 0px 4px 35px -5px #3b5998;
    cursor: pointer;
}

.update:focus {
    outline: none;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 85px;
    position: relative;
}