<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<span id="username" th:attr="data-el-id=${auth.getId()}" th:utext="${fullName}"></span>
<p>chat name: <span id="chatId" th:attr="data-el-id=${chat.getId()}" th:utext="${chat.getName()}"></span></p>
<div id="chat-page">
    <div class="chat-header">
        <h2 >SPD-Talks</h2>
        <div class="leftBottom" th:attr="data-el-id=${chat.getId()}" th:attrappend="data-el-Name=${chat.getName()}">Left Chat</div>
    </div>
    <div class="main-container" id="container">

        <ul id="messageArea" class="inner-container">

        </ul>
        <div id="userArea" class="inner-container">

        </div>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off"
                           class="form-control"/>
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    #container {
        width: 100%;
        height: auto;
    }

    .inner-container {
        min-height: 400px;
        display: inline-block;
        overflow-y: auto;
        border: 1px solid black;
    }

    #messageArea {
        height: 70%;
        width: 80%;
    }

    #userArea {
        height: 70%;
        width: 15%;
    }
</style>
</html>