<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<link rel="stylesheet" th:href="@{/css/button.css}" href="../../css/button.css"/>
<link rel="stylesheet" th:href="@{/css/search.css}" href="../../css/search.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<span id="username" th:attr="data-el-id=${auth.getId()}" th:utext="${auth.fullName}"></span>

<p>chat name:
    <span id="chatId" th:attr="data-el-id=${chat.getId()}" th:utext="${chat.getName()}">
    </span>
</p>

<div id="chat-page">
    <div class="chat-header">
        <div class="leftBottom" th:attr="data-el-id=${chat.getId()}" th:attrappend="data-el-Name=${chat.getName()}">Left
            Chat
        </div>

        <div class="wrap">
            <div class="search" id="search-in-chat" th:field="${chat.getId()}">
                <input id=keyword type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton" onclick="searchMessagesInChat()">
                    <i class="fa fa-search"></i>
                </button>

                <button type="submit" id="clear" th:attr="data-el-id=${chat.getId()}">
                    <i class="fa fa-window-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="main-container" id="container">

        <ul id="messageArea" class="inner-container">
            <div id="replace-messages">

            </div>
        </ul>
        <div id="userArea" class="inner-container">

        </div>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off"
                           class="form-control"/>
                    <button type="action-button">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    #container {
        width: 100%;
        height: auto;
    }

    .inner-container {
        min-height: 400px;
        display: inline-block;
        overflow-y: auto;
        border: 1px solid black;
    }

    #messageArea {
        height: 70%;
        width: 80%;
    }

    #userArea {
        height: 70%;
        width: 15%;
    }
</style>
</html>