<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SPD-Talks</title>
</head>
<body>

<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<nav class="navbar">
    <ul class="navbar-nav">
        <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
        <li><a href="/chats" th:href="@{/chats}">Chats</a></li>
        <li><a href="/users" th:href="@{/users}">Users</a></li>
        <li><a href="/logout" th:href="@{/logout}" class="logout">Logout</a></li>
    </ul>
</nav>

<div id="main_container">
    <div class="create-form">
        <form action="#" th:action="@{/createchat}" th:object="${chatDto}" method="post">
            <input type="text" class="text" th:field="*{name}">
            <span>Chat name</span>
            <br>
            <select>
            <option th:each="type : ${T(com.spdu.bll.models.constants.ChatType.values()}"
            th:value="${type}"
            th:text="${type}">
            </option>
            </select>
            <span>Chat type</span>
            <br>
            <input type="text" class="text" th:field="*{tags}">
            <span>Tags</span>
            <br>
            <input type="text" class="text" th:field="*{description}">
            <span>Description</span>
            <br>
            <button class="submit">Create</button>
        </form>
    </div>
</div>
</body>
</html>