<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href="static/loginform/login.css" rel="stylesheet">
<div class="login">
    <h2 class="active"> sign in </h2>
    <h2 class="nonactive"> sign up </h2>
    <form th:action="@{login.html}" method="post">
        <input type="text" class="text" id="username" name="username">
        <span>username</span>
        <br>
        <br>
        <input type="password" class="text" id="password" name="password">
        <span>password</span>
        <br>
        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox"/>
        <label for="checkbox-1-1">Keep me Signed in</label>
        <button class="loginform/signin">Sign In</button>
        <hr>
        <a href="#">Forgot Password?</a>
    </form>
</div>
</html>
