<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Login page</title>
</head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/login.css}" href="../../css/login.css"/>

<div class="login">

    <a href="/login" th:href="@{/login}">
    <h2 class="active"> sign in</h2></a>

    <a href="/register" th:href="@{/register}">
    <h2 class="nonactive">sign up</h2></a>

    <form th:action="@{perform_login}" method="post">
        <input type="text" class="text" id="username" name="username">
        <span>username</span>
        <br>
        <br>
        <input type="password" class="text" id="password" name="password">
        <span>password</span>
        <br>
        <button class="signin">Sign In</button>
    </form>
</div>
</html>
