<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SPD-Talks</title>
</head>
<body>

<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>

<nav class="navbar">
 <span class="open-slide">
   <a href="#" onclick='openSideMenu()'>
     <svg width='30' height='30'>
       <path d='M0,5 30,5' stroke='#fff' stroke-width='5'/>
       <path d='M0,14 30,14' stroke='#fff' stroke-width='5'/>
       <path d='M0,23 30,23' stroke='#fff' stroke-width='5'/>
     </svg>
   </a>
  </span>

    <ul class="navbar-nav">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Users</a></li>
    </ul>

</nav>

<div id='side-menu' class='side-nav'>
    <a href="#" class='btn-close' onclick='closeSideMenu()'>&times;</a>

    <h2 class="text"> Own chats</h2>
    <div layout:fragment="content">
        <div th:each="chat: ${ownChats}">
            <a href="#" class="chats_info" onclick='connect()'>
                <h th:text="${chat.name}">Name</h>
            </a>
            <br>
        </div>
    </div>

    <h2 class="text"> All chats</h2>
    <div layout:fragment="content">
        <div th:each="chat: ${allChats}">
            <a href="#" class="chats_info" th:attr="data-el-id=${chat.getId()}">
                <h th:text="${chat.name}">Name</h>
            </a>
            <br>
        </div>
    </div>

    <h2 class="text"> All public chats</h2>
    <div layout:fragment="content">
        <div th:each="chat: ${allPublic}">
            <a href="#">
                <h th:text="${chat.name}">Name</h>
            </a>
            <br>
        </div>
    </div>
</div>

<div id="main">
    <div id="main_container">
        <h1>SPD-Talks</h1>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    // <![CDATA[
    window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>');
    // ]]>
</script>
<script th:href="@{/js/mainform.js}" src="../../js/mainform.js"></script>
<script src="/js/messagearea.js"></script>
</html>