<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPD-Talks</title>
</head>
<body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>
<link rel='stylesheet' th:href="@{/css/popup.css}" href="../../css/popup.css"/>
<link rel="stylesheet" th:href="@{/css/button.css}" href="../../css/button.css"/>
<link rel="stylesheet" th:href="@{/css/chatsInfoFlex.css}" href="../../css/chatsInfoFlex.css"/>
<link rel="stylesheet" th:href="@{/css/avatar.css}" href="../../css/avatar.css"/>
<link rel="stylesheet" th:href="@{/css/profileInfo.css}" href="../../css/profileInfo.css"/>
<link rel="stylesheet" href="/css/messagearea.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


<nav class="navbar">
 <span class="open-slide">
   <a href="#" onclick='openSideMenu()'>
     <svg width='30' height='30'>
       <path d='M0,5 30,5' stroke='#fff' stroke-width='5'/>
       <path d='M0,14 30,14' stroke='#fff' stroke-width='5'/>
       <path d='M0,23 30,23' stroke='#fff' stroke-width='5'/>
     </svg>
   </a>
  </span>

    <ul class="navbar-nav">
        <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
        <li><a href="/chats" th:href="@{/chats}">Chats</a></li>
        <li><a href="/users" th:href="@{/users}">Users</a></li>
        <li><a href="/logout" th:href="@{/logout}" class="logout">Logout</a></li>
    </ul>

</nav>

<div id='side-menu' class='side-nav'>
    <a href="#" class='btn-close' onclick='closeSideMenu()'>&times;</a>

    <h2 class="text"> Create chat</h2>
    <div layout:fragment="content">
        <a href="#" onclick='showElement("popup")'>Chat create</a>
    </div>

    <h2 class="text"> Own chats</h2>
    <div layout:fragment="content">
        <div th:each="chat: ${ownChats}">
            <div class="chats-info-flex">
                <a href="#" class="chats_info" th:attr="data-el-id=${chat.getId()}">
                    <h th:text="${chat.name}">Name</h>
                </a>
                <a href="#" class="chats_edit" th:attr="data-el-id=${chat.getId()}">
                    <i class="far fa-edit"></i>
                </a>
                <a href="#" class="chats_delete" th:attr="data-el-id=${chat.getId()}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text"> All chats</h2>
    <div id="allChats" layout:fragment="content">
        <div th:each="chat: ${allChats}">
            <a href="#" class="chats_info" th:attr="data-el-id=${chat.getId()}">
                <h th:text="${chat.name}">Name</h>
            </a>
            <br>
        </div>
    </div>

    <h2 class="text"> All private chats</h2>
    <div id="privateChats" layout:fragment="content">
        <div th:each="chat: ${allPrivate}" class="parentDivChat">
            <div class="chats-info-flex">
                <a href="#" class="chats_info_private" th:attr="data-el-id=${chat.getId()}">
                    <h th:text="${chat.name}">Name</h>
                </a>
                <a href="#" class="chats_edit" th:attr="data-el-id=${chat.getId()}">
                    <i class="far fa-edit"></i>
                </a>
                <a href="#" class="chats_delete" th:attr="data-el-id=${chat.getId()}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text"> All public chats</h2>
    <div id="publicChats" layout:fragment="content">
        <div th:each="chat: ${allPublic}" class="parentDivChat">
            <a href="#" th:attr="data-el-id=${chat.getId()}">
                <h th:text="${chat.name}">Name</h>
                <i class="fas fa-plus rightBottom" th:attr="data-el-id=${chat.getId()}"
                   th:attrappend="data-el-Name=${chat.getName()}"></i>
            </a>
        </div>
    </div>
</div>


<div id="main" class=>
    <div id="main_container">
        <div id="profile_info">
            <div class="update-form">
                <form th:object="${userDTO}">
                    <h3 th:text="*{firstName}"></h3>
                    <h3 th:text="*{lastName}"></h3>
                    <h3 th:text="*{userName}"></h3>
                    <h3 th:text="*{urlLinkedin}"></h3>
                    <h3 th:text="*{urlFacebook}"></h3>
                    <h3 th:text="*{urlGit}"></h3>
                    <h3 th:text="*{dateOfBirth}"></h3>
                    <h3 th:text="*{email}"></h3>
                </form>
            </div>

            <div class="update-form">
                <form th:object="${userDTO}"
                      class="avatar-show">
                    <div class="avatar-preview container2">
                        <div id="avatar" th:field="*{avatar}">
                            <div id="imagePreview">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="b-popup" id=popup>
    <div class="b-popup-content">
        <a href="#" onclick='hideElement("popup")' class='btn-close'>&times;</a>
        <form action="#" th:action="@{/chats/createchat}" th:object="${chatDto}" method="POST"
              style="display: flex; justify-content: center; flex: 1; ">
            <div style="width: 90%; display: flex; flex-direction: column;">
                <span><h3>Chat name</h3></span>
                <input type="text" class="text" th:field="*{name}">
                <span><h3>Chat type</h3></span>
                <select th:field="*{chatType}">
                    <option th:each="type : ${T(com.spdu.bll.models.constants.ChatType).values()}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <span><h3>Tags</h3></span>
                <input type="text" class="text" th:field="*{tags}">
                <span><h3>Description</h3></span>
                <input type="text" class="text" th:field="*{description}">
                <br>
                <button class="action-button">Create</button>
            </div>

        </form>
    </div>
</div>

<div class="b-popup" id=popupMessage>
    <div class="b-popup-content" style="height: 200px">
        <a href="#" onclick='hideElement("popupMessage")' class='btn-close'>&times;</a>
        <div style="display: flex; justify-content: center; flex: 1; ">
            <div style="width: 90%; display: flex; flex-direction: column;">
                <h3>New text</h3>
                <input type="hidden" id=id-message>
                <input type="text" class="text" id=new-message-content>
                <button class="update" onclick="sendRequestEdit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    // <![CDATA[
    window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>');
    // ]]>
</script>

<script src="/js/mainform.js"></script>
<script src="/js/avatar.js"></script>
<script src="/js/changeVisibility.js"></script>

</body>
</html>