<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SPD-Talks</title>
</head>
<body>

<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>
<script th:href="@{/js/mainform.js}" src="../../js/mainform.js"></script>

<nav class="navbar">
 <span class="open-slide">
   <a href="#" onclick='openSideMenu()'>
     <svg width='30' height='30'>
       <path d='M0,5 30,5' stroke='#fff' stroke-width='5'/>
       <path d='M0,14 30,14' stroke='#fff' stroke-width='5'/>
       <path d='M0,23 30,23' stroke='#fff' stroke-width='5'/>
     </svg>
   </a>
  </span>

    <ul class="navbar-nav">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Users</a></li>
    </ul>

</nav>

<div id='side-menu' class='side-nav'>
    <a href="#" class='btn-close' onclick='closeSideMenu()'>&times;</a>
    <div th:insert="chats :: chats"></div>
    <!--<a href="#">Default Chat</a>-->
    <!--<a href="#">First Chat</a>-->
    <!--<a href="#">Second Chat</a>-->
    <!--<a href="#">Third Chat</a>-->
</div>

<div id="main">
    <h1>SPD-Talks</h1>
</div>

</body>
</html>