<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SPD-Talks</title>
</head>
<body>

<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>
<link rel='stylesheet' th:href="@{/css/profile.css}" href="../../css/profile.css"/>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar">
    <ul class="navbar-nav">
        <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
        <li><a href="/chats" th:href="@{/chats}">Chats</a></li>
        <li><a href="/users" th:href="@{/users}">Users</a></li>
        <li><a href="/logout" th:href="@{/logout}" class="logout">Logout</a></li>
    </ul>
</nav>

<div id="main_container">
    <div class="update-form">
        <form action="#" th:action="@{/message/update}" th:method="PUT" modelAttribute="messageDto"
              th:object="${messageDto}">
            <h3>New text</h3>
            <input type="text" class="text" th:field="*{content}">
            <input type="hidden" name="id" value="${messageDto.getId()}" th:value="${messageDto.id}"/>
            <button class="update">Save changes</button>
        </form>
    </div>
</div>
</body>
</html>