<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <title>Reset password</title>
</head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/login.css}" href="../../css/login.css"/>

<div class="reset-password">

    <!--/*@thymesVar id="resetPasswordDto" type="com.spdu.bll.models.ResetPasswordDto"*/-->
    <form action="#" th:action="@{/new-password}" th:method="PUT" modelAttribute="resetPasswordDto"
          th:object="${resetPasswordDto}">
        <input type="hidden" th:field="*{email}">
        <input type="password" class="text" th:field="*{password}">
        <span>password</span>
        <br>
        <input type="password" class="text" th:field="*{matchingPassword}">
        <span>matchingPassword</span>
        <br>
        <button class="signin">Change password</button>
    </form>
</div>
</html>
