<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SPD-Talks</title>
</head>
<body>

<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>
<link rel='stylesheet' th:href="@{/css/profile.css}" href="../../css/profile.css"/>
<link rel='stylesheet' th:href="@{/css/avatar.css}" href="../../css/avatar.css"/>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<script src="/js/avatar.js"></script>

<nav class="navbar">
    <ul class="navbar-nav">
        <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
        <li><a href="/users" th:href="@{/users}">Users</a></li>
        <li><a href="#">Chats</a></li>
    </ul>
</nav>

<div id="main_container">
    <div class="update-form">
        <form action="#" th:action="@{/profile/update}" th:method="PUT" modelAttribute="userDto" th:object="${userDTO}">
            <h3>First name</h3>
            <input type="text" class="text" th:field="*{firstName}">
            <h3>Last name</h3>
            <input type="text" class="text" th:field="*{lastName}">
            <h3>User name</h3>
            <input type="text" class="text" th:field="*{userName}">
            <h3>Linkedin</h3>
            <input type="text" class="text" th:field="*{urlLinkedin}">
            <h3>Facebook</h3>
            <input type="text" class="text" th:field="*{urlFacebook}">
            <h3>GitLab</h3>
            <input type="text" class="text" th:field="*{urlGit}">
            <h3>Date Of Birthday</h3>
            <input type="date" class="text" th:value="*{dateOfBirth}" th:field="*{dateOfBirth}">
            <button class="update">Save changes</button>
        </form>

    </div>

    <div class="update-form">
        <form enctype="multipart/form-data" th:action="@{/profile/avatar}" th:method="PUT" th:object="${userDTO}"
              class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" name="multipartFile"
                       class="{{ $errors->has('email') ? 'alert alert-danger' : '' }}"/>
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview container2">
                <div id="avatar" th:field="*{avatar}">
                    <script th:inline="javascript">
                        /*<![CDATA[*/

                        // var avatar = [[*{avatar}]];
                        rewrite();

                        /*]]>*/
                    </script>
                    <div id="imagePreview"
                         style="background-image: url(http://localhost:8080/api/file_entities/);">
                        <input type="hidden" name="_token" value="{{csrf_token()}}">
                        <input type="submit" class="btn btn-danger">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>