<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <title>Reset password</title>
</head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/login.css}" href="../../css/login.css"/>

<div class="reset-password">

    <form th:action="@{/reset-password}" method="post">
        <input type="text" class="text" id="username" name="username">
        <span>email</span>
        <br>
        <button class="signin">Send email</button>
        <br>
        <div class="hr"></div>
        <div class="foot-lnk">
            <a href="/login">Go to login page</a>
        </div>
    </form>
</div>
</html>
