<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SPD-Talks</title>
</head>
<body>
<script src="/js/avatar.js"></script>
<link rel='stylesheet' th:href="@{/css/mainform.css}" href="../../css/mainform.css"/>
<link rel='stylesheet' th:href="@{/css/users.css}" href="../../css/users.css"/>
<link rel='stylesheet' th:href="@{/css/profile.css}" href="../../css/profile.css"/>

<nav class="navbar">
    <ul class="navbar-nav">
        <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
        <li><a href="/chats" th:href="@{/chats}">Chats</a></li>
        <li><a href="/users" th:href="@{/users}">Users</a></li>
        <li><a href="/logout" th:href="@{/logout}" class="logout">Logout</a></li>
    </ul>
</nav>

<div id="main_container">
    <table>
        <caption align="centre"><h1>User list</h1></caption>
        <tr>
            <td><h2>User id</h2></td>
            <td><h2>First name</h2></td>
            <td><h2>Last name</h2></td>
            <td><h2>Email</h2></td>
            <td><h2>User name</h2></td>
            <td><h2>Date of birth</h2></td>
            <td><h2>URL Linkedin</h2></td>
            <td><h2>URL Facebook</h2></td>
            <td><h2>URL Git</h2></td>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.id}"></a></td>
                <td th:text="${user.firstName}">...</td>
                <td th:text="${user.lastName}">...</td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.userName}">...</td>
                <td th:text="${user.dateOfBirth}">...</td>
                <td th:text="${user.urlLinkedin}">...</td>
                <td th:text="${user.urlFacebook}">...</td>
                <td th:text="${user.urlGit}">...</td>
            </tr>
        </th:block>
    </table>

    <div class="update-form">
        <form action="#" th:action="@{/users/invite}" th:method="POST">
            <h2>Invite your friend!</h2>
            <h3>Email</h3>
            <input type="text" class="text" id="email" name="email">
            <button class="update">Send invite</button>
        </form>
    </div>
</div>
</body>
</html>